
<div class="datatree">

    <div class="datatree-title">
        {_$options->title}
    </div>

    <div class="datatree-toolbox">
    </div>

    <div class="datatree-body">
        <div id="{$options->elementId}"></div>
    </div>

    {include interaction.latte}

</div>