
{ifset $options->title}
    <{$options->titleElementType} id="{$options->elementId}-title">
        {_$options->title}
    </{$options->titleElementType}>
{/ifset}

<div>
    <input type="text" id="{$options->elementId}-filter">
</div>

<{$options->elementType} id="{$options->elementId}"></{$options->elementType}>

{include interaction.latte}
